DSWithAbhishek/.vs/DSWithAbhishek/xs/project-cache/SubstringTest-Debug.json
DSWithAbhishek/.vs/DSWithAbhishek/xs/project-cache/SubstringTest-Release.json
DSWithAbhishek/.vs/DSWithAbhishek/xs/UserPrefs.xml
DSWithAbhishek/.vs/DSWithAbhishek/v16/.suo
bin
obj
*.v2
*.pdb
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.ilk
*.exe
*.log
*.recipe
*.obj
*.tlog
*.idb
*.txt
